<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-sm-2">
        <label for="allergies">Allergies:</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Description
    </div>
    <div class="col-sm-3">
        Identified
    </div>
    <div class="col-sm-3">
        Allergic Reactions
    </div>
    <div class="col-sm-3">
        Adverse Reactions
    </div>
</div>
<hr />
