<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div>
    <div class="row">
        <div class="col-sm-2 text-right">
            <label for="name">Name:</label>
        </div>
        <div class="col-sm-3">
            <span id="name"><?=$name?></span>
        </div>
        <div class="col-sm-2 text-right">
            <label for="home_phone">Home Phone:</label>
        </div>
        <div class="col-sm-1">
            <p id="home-phone"><?=$home_phone?></p>
        </div>
        <div class="col-sm-2 text-right">
            <label for="relationship">Relationship:</label>
        </div>
        <div class="col-sm-2">
            <span id="name"><?=$relationship?></span>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-sm-2 text-right">
            <label for="address">Address:</label>
        </div>
        <div class="col-sm-3">
            <p id="address1" style='margin-bottom: 0px !important;'><?=$guarantor_address1?></p>
            <p id="address2" style='margin-top:0px !important; margin-bottom: 0px !important;'><?=$guarantor_address2?></p>
            <p id="city-state" style='margin-top:0px !important; margin-bottom: 0px !important;'><?=$guarantor_city_state?></p>
        </div>
        <div class="col-sm-2 text-right">
            <label for="dob">DOB:</label>
        </div>
        <div class="col-sm-1">
            <p id="dob"><?=$guarantor_dob?></p>
        </div>
        <div class="col-sm-2 text-right">
            <label for="ssn">SSN:</label>
        </div>
        <div class="col-sm-2">
            <p id="ssn"><?=$guarantor_ssn?></p>
        </div>
    </div>
</div>