<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="encounter-header"><?=$header?></div>
<div class="row">
    <div class="col-sm-3">
        <label for="complaint">Chief Complaint:</label>
    </div>
    <div class="col-sm-9">
        <span id="complaint"><?=$complaint?></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <label for="general_notes">General Notes:</label>
    </div>
    <div class="col-sm-9">
        <span id="general-notes"><?=$general_notes?></span>
    </div>
</div>
<div id="vitals"><?=$vitals?></div>
<div id="problems"><?=$problems?></div>
<p style="page-break-before: always"></p>