<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div>
    <div class="row">
        <div class="col-sm-2 text-right">
            <label for="insurance_name">Insurance:</label>
        </div>
        <div class="col-sm-9">
            <span id="insurance-name"><?=$insurance_name?></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right">
            <label for="policy_number">Policy Number:</label>
        </div>
        <div class="col-sm-3">
            <p id="policy-number"><?=$policy_number?></p>
        </div>
        <div class="col-sm-5 text-right">
            <label for="rank">Policy Rank:</label>
        </div>
        <div class="col-sm-2">
            <p id="policy_rank"><?=$rank?></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right">
            <label for="holder_name">Holder Name:</label>
        </div>
        <div class="col-sm-3">
            <p id="holder_name"><?=$holder_name?></p>
        </div>
        <div class="col-sm-5 text-right">
            <label for="relationship">Relationship to Holder:</label>
        </div>
        <div class="col-sm-2">
            <p id="relationship"><?=$relationship?></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right">
            <label for="insurance_phone">Ins Phone:</label>
        </div>
        <div class="col-sm-3">
            <p id="insurnace-phone"><?=$insurance_phone?></p>
        </div>
        <div class="col-sm-5 text-right">
            <label for="dob">DOB:</label>
        </div>
        <div class="col-sm-2">
            <p id="dob"><?=$dob?></p>
        </div>
    </div>        
</div>
<hr />