<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-sm-2">
        <?=$prescribed?>
    </div>
    <div class="col-sm-2">
        <?=$medication?>
    </div>
    <div class="col-sm-2">
        <?=$dispense?>
    </div>
    <div class="col-sm-3">
        <?=$sig?>
    </div>
    <div class="col-sm-2">
        <?=$refills?>
    </div>
    <div class="col-sm-1">
        <?=$disc?>
    </div>
</div>