<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row"><div class="col-sm-2"><label for="medications">Medications:</label></div></div>
<div class="row">
    <div class="col-sm-2">
        Prescribed
    </div>
    <div class="col-sm-2">
        Medication
    </div>
    <div class="col-sm-2">
        Dispense
    </div>
    <div class="col-sm-3">
        Sig
    </div>
    <div class="col-sm-2">
        Refills
    </div>
    <div class="col-sm-1">
        Disc
    </div>
</div>
<hr />
