<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-sm-2">
        <label for="vitals">Problems:</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        Description
    </div>
    <div class="col-sm-2">
        Identified
    </div>
    <div class="col-sm-2">
        Modified
    </div>
    <div class="col-sm-3">
        Condition
    </div>
    <div class="col-sm-3">
        Resolved Date
    </div>
</div>
<hr />
