<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-sm-2">
        <label for="vitals">Vitals:</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-1">
        BP
    </div>
    <div class="col-sm-1">
        Pulse (bpm)
    </div>
    <div class="col-sm-1">
        Temp F
    </div>
    <div class="col-sm-1">
        Weight Lbs.
    </div>
    <div class="col-sm-1">
        Ht/Length
    </div>
    <div class="col-sm-1">
        BMI
    </div>
    <div class="col-sm-1">
        BSA
    </div>
    <div class="col-sm-1">
        RR (bpm)
    </div>
    <div class="col-sm-1">
        Pain
    </div>
    <div class="col-sm-1">
        O2 Sat
    </div>
    <div class="col-sm-1">
        FiO2
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-1">
        <?=$bp?>
    </div>
    <div class="col-sm-1">
        <?=$pulse?>
    </div>
    <div class="col-sm-1">
        <?=$temp?>
    </div>
    <div class="col-sm-1">
        <?=$weight?>
    </div>
    <div class="col-sm-1">
        <?=$height?>
    </div>
    <div class="col-sm-1">
        <?=$bmi?>
    </div>
    <div class="col-sm-1">
        <?=$bsa?>
    </div>
    <div class="col-sm-1">
        <?=$rr?>
    </div>
    <div class="col-sm-1">
        <?=$pain?>
    </div>
    <div class="col-sm-1">
        <?=$o2?>
    </div>
    <div class="col-sm-1">
        <?=$fio2?>
    </div>
</div>